.fruit {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fr {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fruit-cat-input {
    width: 20vw;
    height: 3vh;
    border-radius: 2vw;
    padding: 1vw;
    border: none;
    margin-top: 3vh;
}

.fruit-title {
    display: flex;
    justify-content: center;
}
.vegetable-post-category {
    display: flex;
    flex-direction: column;
}
.fruit-pt {
    display: flex;
    width: 15vw;
    flex-direction: column;
    background-color: rgb(244, 247, 244);
}
.fruit-ret {
    display: flex;
    flex-direction: "row";
    gap: 10px;
}
.fruit-child {
    display: grid;
    gap: 3vw;
    grid-template-columns: auto auto auto auto;
    margin-top: 3vh;
}