.Food {
  width: 100vw;
  height: 100vh;
  /* border: 1px solid red; */
}
.food {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 13vh;
}
.food-line1 {
  width: 13%;
  font-size: 12px;
  font-weight: 400;
  margin-top: 3%;
}
.food-line2 {
  width: 35%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 1vw;
  margin-top: 2%;
}
.food-line3 {
  width: 15%;
  height: 100%;
  margin-top: 3%;
}

.post-add {
  position: fixed;
  top: 220px;
  right: 20px;
}
.post-add button {
  padding: 13px 23px;
  border-radius: 50px;
  border: none;
  background-color: #32cd32;
  color: white;
  cursor: pointer;
  font-weight: 500;
}
.post-add button:hover {
  padding: 15px 25px;
  border: 1px solid #32cd32;
  color: #32cd32;
  background-color: white;
  transition: 900ms;
}
.add-post {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.add {
  width: 50vw;
  min-height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 100px;
}
.add button:nth-child(1) {
  width: 10%;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  background-color: #32cd32;
  border: none;
  border-radius: 50px;
  color: white;
}
.add button:nth-child(2) {
  width: 10%;
  height: 40px;
  position: absolute;
  right: 110px;
  top: 30px;
  cursor: pointer;
  background-color: #32cd32;
  border: none;
  border-radius: 50px;
  color: white;
}
.post-post {
  width: 70%;
  margin: 35px;
  display: flex;
  flex-direction: column;
}
.post-post input:nth-child(1) {
  margin: 10px;
  border: none;
  background-color: #32cd32;
  height: 25px;
  border-radius: 20px;
}
.post-post img {
  width: 100%;
}
.post-post2 {
  width: 70%;
  margin-left: 30px;
  display: flex;
  justify-content: space-evenly;
}
.post-post2 div {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.post-post2 span {
  font-weight: bold;
  margin: 5px;
}
.post-post2 textarea {
  margin: 5px;
  height: fit-content;
  font-style: normal;
}
