.Home {
  width: 100vw;
  height: 100vh;
}
.home {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid red; */
}
.title {
  /* border: 1px solid red; */
}
.title h1 {
  font-size: 150px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(./back.png);
  -webkit-background-clip: text;
  background-position: 0 0 ;
  animation: back 20s linear infinite;
}
@keyframes back {
  100%{
    background-position: 2000px 0 ;
  }
}
.image {
  width: 400px;
  height: 400px;
  border: 5px solid #32cd32;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-radius: 20px;
  transform: rotate(45deg);
}
.back-style {
  width: 100%;
  height: 100%;
  /* background-color: #32cd32; */
  /* transform: rotate(45deg); */
  border-radius: 50%;
  /* border: 1px solid red; */
}
.back-style img {
  position: absolute;
  border-radius: 50%;
  transform: rotate(-45deg);
  /* border: 1px solid red; */
}
.nxt-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.nxt {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: fit-content;
}
.nxt-hool {
  width: 25vw;
  height: 35vh;
  position: absolute;
  left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nxt-hool h1 {
  font-size: 48px;
  font-weight: 600;
  z-index: 5;
  transition: 1s;
  color: white;
  text-decoration: none;
}
.nxt-hool img {
  width: 100%;
  position: absolute;
  transition: 1s;
  border-radius: 15px;
}
.nxt-hool:hover img:nth-child(4) {
  transform: translate(20px, -20px);
  opacity: 1;
}
.nxt-hool:hover img:nth-child(3) {
  transform: translate(16px, -16px);
  opacity: 0.7;
}
.nxt-hool:hover img:nth-child(2) {
  transform: translate(12px, -12px);
  opacity: 0.5;
}
.nxt-hool:hover img:nth-child(1) {
  transform: translate(8px, -8px);
  opacity: 0.3;
}
.nxt-hool:hover h1 {
  transform: translate(20px, -20px);
  transition: 1s;
  font-size: 55px;
}
.nxt-huns {
  width: 25vw;
  height: 35vh;
  position: absolute;
  right: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nxt-huns h1 {
  font-size: 48px;
  font-weight: 600;
  z-index: 5;
  transition: 1s;
  color: white;
}
.nxt-huns img {
  width: 100%;
  position: absolute;
  transition: 1s;
  border-radius: 15px;
  cursor: pointer;
}
.nxt-huns:hover img:nth-child(4) {
  transform: translate(20px, -20px);
  opacity: 1;
}
.nxt-huns:hover img:nth-child(3) {
  transform: translate(16px, -16px);
  opacity: 0.7;
}
.nxt-huns:hover img:nth-child(2) {
  transform: translate(12px, -12px);
  opacity: 0.5;
}
.nxt-huns:hover img:nth-child(1) {
  transform: translate(8px, -8px);
  opacity: 0.3;
}
.nxt-huns:hover h1 {
  transform: translate(20px, -20px);
  transition: 1s;
  font-size: 55px;
}
