.Home {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.home {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.dec {
  width: 300px;
  height: 370px;
  border-top-left-radius: 100%;
  position: absolute;
  background: linear-gradient( #32cd32 , #e3e3e3 );
  z-index: -10;
  right: 0px;
  bottom: 0px;
  -webkit-box-reflect: below;
}
.dec2 {
  width: 450px;
  height: 250px;
  border-top-left-radius: 100%;
  position: absolute;
  right: 0px;
  background: linear-gradient( #32cd32 , #e3e3e3 );
  bottom: 0px;
  z-index: -11;
  -webkit-box-reflect: below;
}
.dec3 {
  width: 100vw;
  height: 100vh;
  z-index: -15;
  background: linear-gradient( #32cd32 , #e3e3e3 );
  position: absolute;
  top: -100px;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.dec3-dec {
  width: 92%;
  height: 88%;
  background-color: #e3e3e3;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}
.home div:nth-child(1) {
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.home p {
  font-size: 300%;
  color: #32cd32;
}
.home h1 {
  font-size: 1000%;
  font-weight: 700;
  color: transparent;
  /* -webkit-text-stroke: 1px #32cd32;   */
  background: url(./back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  margin-left: 105px;
  background-color: #32cd32;
  text: 1px solid #32cd32;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
.images {
  width: 40%;
  height: 90%;
  position: relative;
}
.images img {
  border-radius: 30px;
  padding: 8px 8px;
  margin: 15px;
}
.images img:nth-child(1) {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 47%;
  height: 45%;
}
.images img:nth-child(2) {
  width: 12vw;
  height: 25vh;
  position: absolute;
  left: 14%;
  top: 15%;
}
.images img:nth-child(3) {
  width: 12vw;
  height: 20vh;
  position: absolute;
  right: 12%;
  bottom: 22%;
}
.images img:nth-child(4) {
  width: 43%;
  height: 33%;
  position: absolute;
  left: 10%;
  bottom: 14%;
}
.nxt-page {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
}
.nxt {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: fit-content;
}
.nxt-hool {
  width: 25vw;
  height: 35vh;
  position: absolute;
  left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nxt-hool h1 {
  font-size: 48px;
  font-weight: 600;
  z-index: 5;
  transition: 1s;
  color: white;
  text-decoration: none;
}
.nxt-hool img {
  width: 100%;
  position: absolute;
  transition: 1s;
  border-radius: 15px;
}
.nxt-hool:hover img:nth-child(4) {
  transform: translate(20px, -20px);
  opacity: 1;
}
.nxt-hool:hover img:nth-child(3) {
  transform: translate(16px, -16px);
  opacity: 0.7;
}
.nxt-hool:hover img:nth-child(2) {
  transform: translate(12px, -12px);
  opacity: 0.5;
}
.nxt-hool:hover img:nth-child(1) {
  transform: translate(8px, -8px);
  opacity: 0.3;
}
.nxt-hool:hover h1 {
  transform: translate(20px, -20px);
  transition: 1s;
  font-size: 55px;
}
.nxt-huns {
  width: 25vw;
  height: 35vh;
  position: absolute;
  right: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nxt-huns h1 {
  font-size: 48px;
  font-weight: 600;
  z-index: 5;
  transition: 1s;
  color: white;
}
.nxt-huns img {
  width: 100%;
  position: absolute;
  transition: 1s;
  border-radius: 15px;
  cursor: pointer;
}
.nxt-huns:hover img:nth-child(4) {
  transform: translate(20px, -20px);
  opacity: 1;
}
.nxt-huns:hover img:nth-child(3) {
  transform: translate(16px, -16px);
  opacity: 0.7;
}
.nxt-huns:hover img:nth-child(2) {
  transform: translate(12px, -12px);
  opacity: 0.5;
}
.nxt-huns:hover img:nth-child(1) {
  transform: translate(8px, -8px);
  opacity: 0.3;
}
.nxt-huns:hover h1 {
  transform: translate(20px, -20px);
  transition: 1s;
  font-size: 55px;
}
